html {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

body {
	background: #ece7e7;
}

.pointer:hover {
    cursor: pointer;
}

.searchInput:focus {
	border: 2px solid #333684 !important;
	outline: none; 
}

.drinkTag {
    margin-right: 3px;
}

.drinkTag:hover {
    cursor: default;
}