/* This CSS file is part of the HTML5 / CSS3 tutorial on http://www.lingulo.com */

/* GLOBAL */
body
{
        /*border-top:5px solid #e56038;*/
        /*background-image: url("../img/sunrise.jpg");*/
        background: url(../img/drink.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'Open Sans', sans-serif;
        color:#dddddd;
}

h1
{
        margin:40px 10px 10px 50px;
        font-size:55px;
        color: #fff;
        font-family: 'Century Gothic';
        text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}


input
{
        font-family: 'Open Sans', sans-serif;
        font-size:16px;
        padding: 7px;
        outline: 0;
        border:0;
        width:250px;
        background: #EBE8DE;
        border-radius:5px;
}

input[type=submit]
{
        width:auto;
        padding: 5px 18px;
        line-height:25px;
        text-shadow:none;
        cursor:pointer;
        box-shadow: none;
        background: #333333;
        color: #ffffff;
}

p
{
        margin:5px 0;
        line-height:25px;
}

a
{
        text-decoration:none;
        color:inherit;
        transition: color .5s ease;
}


strong
{
        font-weight:bold;

}




/* HEADER */
.submit
{
    position: relative;
    top: 0px;
    right: 0px;
    float: right;   
}
.form
{
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline;    
}
.inputfield
{
    position: relative;
    float: left;
    padding-right: 10px; 
}

.content
{
    position: relative;
    margin-top: 120px;
    margin-left: 12%;
    margin-bottom: 3%;
    max-width: 85%;
    text-align: left;

}

img { 
   float: left;
   
   max-width: 400px;
   max-height: 370px;
   width: auto;
   height: auto;
}

.imageLeft {
   border:1px solid #ffffff;
   float: left;
   padding-left: 5%;
   max-width: 340px;
   max-height: 350px;
   width: auto;
   height: auto;
   padding-bottom: 5%;

}

.imageCenter { 
   

   padding-left: 5%;
   padding-right: 5%;
   margin: auto;
   max-width: 340px;
   max-height: 350px;
   width: auto;
   height: auto;
   padding-bottom: 5%;
}

.imageRight { 
   border:1px solid #ffffff;
   float: right;
   padding-right: 5%;
   max-width: 340px;
   max-height: 350px;
   width: auto;
   height: auto;
}





.nav
{
        position:absolute;
        right:0;
        top:0;
        padding-top: 100px;
        padding-right: 50px;
}

.navLi
{
        position:  relative;
        list-style:none;
        display:block;
        float:left;
        padding:5px 17px;
        font-family: 'Century Gothic', sans-serif;
        transition: all .15s ease;
        color:#ffffff;
        font-size:20px;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}




.navLi:hover
{
        color:#ffff66;
        font-size:23px;
        

}

article
{
    position: relative;
    padding-left: 2%;
    float: right;
    max-width: 35%;
}


